Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -2
IndentWidth:     2
TabWidth:        2
UseTab:          Always
PointerAlignment: Left
SpaceBeforeParens: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit:     120
AlwaysBreakTemplateDeclarations: true
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
BreakBeforeBraces: Attach
#AlwaysBreakBeforeElse: true
